$theme-colors: (
  'info': #34b0ba,
);

@import url('https://fonts.googleapis.com/css?family=Lato|Prompt&display=swap');
@import '~bootstrap/scss/bootstrap';

$white: #fff;
$green: #79b758;
$orange: #f58742;

body {
  color: $green;
  font-family: lato, sans-serif;
  margin: 0;
  padding: 0;
}

input {
  margin: 3px;
  padding: 3px;
}

header {
  align-items: center;
  background-color: $yellow;
  color: $white;
  font-family: prompt, sans-serif;
  height: 20vh;
  margin: 0;
  min-height: 100px;
  padding: 10px;
  width: 100%;
  z-index: -1;
}

a {
  color: $green;

}

a:hover {
  color: $orange;
  text-decoration: none;
}

.border {
  border-width: 2px !important;
}

.border-top {
  border-width: 2px !important;
}

.border-right {
    border-width: 2px !important;
}

.border-bottom {
  border-width: 2px !important;
}

.border-left {
  border-width: 2px !important;
}

.star {
  bottom: 3%;
  margin: 3px;
  padding: 3px;
  position: absolute;
  right: 3%;
}

.failure {
  color: $orange;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3000;
}

.header {
  align-items: center;
  display: inline-block;
}

.title {
  display: inline-block;
  font-size: 56px;
}

.container-fluid {
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.sign-in-sign-up {
  align-items: center;
  margin: auto;
  min-height: 90vh;
  padding: 0;
  text-align: center;
}

.board-wrapper {
  align-items: center;
  min-height: 500px;
}

.after-board {
  bottom: 20%;
  left: 30%;
  right: 30%;
  position: absolute;
}

.buttons {
  bottom: 10%;
  position: absolute;
  left: 10%;
  right: 10%;
}

.game-board {
  display: flex;
  margin: 0 auto;
  max-height: 30vw;
  max-width: 30vw;
}

.game-board-computer {
  display: flex;
  margin: 0 auto;
  max-height: 30vw;
  max-width: 30vw;
}

.keep-largest {
  min-width: 300px;
}

.box {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  width: 10vh;

  ::after {
    content: '';
    display: block;
    float: left;
    padding-top: 100%;
  }
}


.navbar {
  position: fixed;
  right: 0;
  top: 0;
}
