@import '~bootstrap/scss/bootstrap';


.container {
  margin: 0 auto;
  text-align: center;
}

.game-board {
  margin: 0 auto;
  display: flex;
  width: 30vw;
  height: 30vw;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
